$line-height: 1.6;
// Fonts
$font-main: 'Jost', sans-serif;
// Colors
$main-color: #141024;
$main-color-opacity: rgba(20, 16, 36, 0.70);
$accent-color: #D52027;
$background-receive: #F9F9F9;
$button-info: rgba(20, 16, 36, 0.08);
$border-package: rgba(20, 16, 36, 0.20);
$placeholder: rgba(40, 41, 68, 0.70);
$copyright: rgba(255, 255, 255, 0.70);
$scrollbar:rgba(20, 16, 36, 0.08);
$white: #fff;
